# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/

# 개발할 때 사용하는거
.screenshot

# Environment variables
.env*.local

# Common ignores
node_modules
.next/
.DS_Store

# Temporary projects
temp_*